@font-face{
    font-family: elliotts-blue-eyeshadow,sans-serif;
font-weight: 400;
font-style: normal;
}

@font-face{
    font-family: dunbar-text,sans-serif;
font-weight: 500;
font-style: normal;
}


body {
    font-family: dunbar-text,sans-serif;
	font-size: 32px;
    display: block;
    height: 1500px;
    background-color: grey;

}

#rectangle {
    width: 900px;
    height: 1200px;
    border-radius: 15%;
    text-align: center;
    background: radial-gradient(circle, rgba(255,166,0,1) 20%, rgba(255,191,71,1) 39%, rgba(255,255,255,1) 75%);
    margin: auto;
    padding: 5%;
}


#title{
    color: black;
    font-size: 50px;

}

#ingredients {
    font-size: 30px;
    }

#instructions{
        font-size: 25px;
        }
    
    


#description{
    font-size: 30px;
    font-family: dunbar-text,sans-serif;

}

#grilledcheese{
    width: 400px;
    border-radius: 25%;

}

#author{
    font-size: 20px;
}


@media only screen and (max-width: 800px) {
    #rectangle {
        width: 300px;
        height:780px;
        border-radius: 15%;

    }
    #title{
        font-size: 20px;
    }
   #body{
       font-size: 15px;
   }
   #ingredients{
    font-size: 15px;
}
#instructions{
    font-size: 15px;
}
#time{
    font-size: 15px;
}

#description{
    font-size: 15px;
}
#grilledcheese{
    width: 200px;}

#author{
        font-size: 10px;}