@font-face{
font-family: muli,sans-serif;
font-weight: 400;
font-style: normal;
}

html{
    background-color: #dff0f5;
}

body{

}

h1{
    font-family: muli,sans-serif;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: muli,sans-serif;
    font-size: 25px;
}

#content{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 2650px;
    position: relative;
    left:600px;
    bottom: 2720px;
    
  }


#drawing{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    display: flex;

  }

canvas {
    cursor: crosshair;
    border: 5px solid pink;
    border-radius: 10%;
    background-color: #faf5f9;
}

#button {
    background-color: pink;
    border: 10px solid pink;
    width: 410px;
    height: 50px;
    position: relative;
    top: 420px;
    right: 410px;
    font-family: muli,sans-serif;
    font-size: 20px;

}

#instructions{
    position: relative;
    top: 80px;
    left: 300px;
}

img{
    width: 400px;
    border: 5px solid pink;
}


.step{
    margin-bottom: 100px;
    
}




@media only screen and (max-width: 1200px) {
    html{
        background-color: #ccf7cb;
    }

    img{
        width: 300px;
        border: 5px solid pink;
    }
    
    #instructions{
        position: relative;
        top: 80px;
        left: 100px;
    }
    
    .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 2650px;
        position: relative;
        left:400px;
        bottom: 2200px;
        
      }

      h1{
          font-size: 45px;
      }

      p{
          font-size: 20px;;
      }

}


@media only screen and (max-width: 400px) {
    html{
        background-color: black;
    }

    img{
        width: 120px;
        border: 5px solid pink;
    }
    
    #instructions{
        position: relative;
        top: 80px;
    
    }
    
    .container {
        display: none;
        
      }

      h1{
          font-size: 20px;
          color: white;
      }

      p{
          font-size: 10px;;
          color: white;
         
      }

}



}

