@font-face{
    font-family: 'Syne', sans-serif;
}

html{
    background-color: #ff7f08;
}

body{
    max-width: 900px;
    margin: auto;
    margin-top: 60px;
}


.airtable-embed{
   width: 1100px;
   height: 600px;
   margin: auto;
   border-radius: 15%;
   border: 20px solid #e60265;
}
h1{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    left: 10%;
    color: #e60265;
    text-align: center;
}

p{
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 10%;
}




@media only screen and (max-width: 1200px){
    .airtable-embed{
        width: 900px;
        border: 15px solid #e60265;}

}

@media only screen and (max-width: 950px){
    .airtable-embed{
        width: 700px;
        height: 500px;
        border: 15px solid #e60265;}
}



@media only screen and (max-width: 800px){
    body{ 
        max-width: 300px;}
    .airtable-embed{
        width: 400px;
        height: 500px;
        border: 5px solid #e60265;}
    p{ 
        font-size: 10px;
    }

    h1{
        font-size: 20px;
    }

}
